@import "../utils/veriables";

.edu__date,
.eduMenu__date {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "date");
  margin-left: 20px;
  margin-top: 35px;
}

.edu__dateTwo,
.eduMenu__dateTwo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "date");
  margin-left: -134px;
  margin-top: 115px;
}

.edu__text,
.eduMenu__text {
  font-family: map-get($fonts, "primary");
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  text-align: center;
  margin-top: 25px;
  margin-left: 110px;
}

.edu__textTwo,
.eduMenu__textTwo {
  font-family: map-get($fonts, "primary");
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  text-align: center;
  margin-top: 95px;
  margin-left: -175px;
}

.edu__icon {
  margin-top: 135px;
  margin-left: -275px;
}

.edu__icon-text,
.eduMenu__icon-text {
  @extend .edu__text;
  font-weight: 700;
  color: map-get($colors, "first");
  text-transform: uppercase;
  margin-top: 143px;
  margin-left: 5px;
}

.edu__link,
.eduMenu__link {
  @extend .edu__text;
  font-weight: 700;
  color: map-get($colors, "first");
  text-decoration: none;
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 90px;

  &:hover {
    color: map-get($colors, "hover");
    fill: map-get($colors, "hover");
  }

  .edu__link-icon,
  .eduMenu__link-icon {
    margin-right: 5px;
  }
}

.edu__linkTwo,
.eduMenu__linkTwo {
  @extend .edu__text;
  font-weight: 700;
  color: map-get($colors, "first");
  text-decoration: none;
  margin-top: 140px;
  margin-left: -170px;

  &:hover {
    color: map-get($colors, "hover");
    fill: map-get($colors, "hover");
  }

  .edu__link-iconTwo,
  .eduMenu__link-iconTwo {
    margin-right: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .eduMenu__date {
    font-size: 24px;
    margin: 0;
  }

  .eduMenu__dateTwo {
    font-size: 24px;
    margin-left: 0;
  }

  .eduMenu__text {
    font-size: 15px;
    margin-top: 15px;
    margin-left: 2px;
  }

  .eduMenu__textTwo {
    margin-top: 15px;
    margin-left: -10px;
  }

  .eduMenu__linkTwo {
    margin-left: 20px;
  }

  .eduParagraph{
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}
