@import "../utils/veriables";

.footer {
   font-family: map-get($fonts, "primary");
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "block");
  margin-top: 40px;
  margin-left: 10px;
}

.footer-text {
  font-family: map-get($fonts, "primary");
  font-size: 12px;
  color: map-get($colors, "primary");
}
