@import "../utils/veriables";

.hero-address {
  font-family: map-get($fonts, "primary");
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  margin-top: 20px;
  margin-left: 20px;
  

  .hero-address__span {
    @extend .hero-address;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
  }

  .hero-address__icon {
    margin-left: 210px;
  }
}

.hero-tel {
  @extend .hero-address;
  margin-top: 5px;

  .hero-tel__icon {
    margin-left: 185px;
    margin-right: 10px;
  }

  .hero-tel__link {
    @extend .hero-address__span;
    font-style: normal;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      font-size: 18px;
      color: map-get($colors, "hover");
      fill: map-get($colors, "hover");
    }
  }
}

.hero-mail {
  @extend .hero-tel;
  margin-top: -10px;

  .hero-mail__icon {
    margin-left: 195px;
    margin-right: 10px;
  }

  .hero-mail__link {
    @extend .hero-tel__link;
    font-style: normal;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      font-size: 18px;
      color: map-get($colors, "hover");
      fill: map-get($colors, "hover");
    }
  }
}
