@import "../utils/veriables";

.info-other__list,
.infoMenu-other__list,
.infoMenu-skills__list,
.infoMenu-hobby__list  {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "first");
  margin-top: 15px;
}

.info-skills__list,
.info-hobby__list {
  @extend .info-other__list;
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .infoMenu-skills__list,
  .infoMenu-hobby__list {
    margin-top: 15px;
    margin-left: -5px;
  }
}