@import "../utils/veriables";

.info__list {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "block");
}

.info-course__list {
  @extend .info__list;
  font-family: map-get($fonts, "primary");
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;

  .info-course__date {
    font-family: none;
    font-weight: 600;
    font-size: 20px;
    color: map-get($colors, "date");
  }

  .info-course__span {
    margin-left: 255px;
    margin-top: -30px;
    margin-bottom: 8px;
  }

  .info-course__link {
    @extend .info-course__list;
    color: map-get($colors, "block");
    text-decoration: none;
    margin-left: 340px;

    &:hover {
      color: map-get($colors, "hover");
      fill: map-get($colors, "hover");
    }

    .info-course__link-icon {
      margin-right: 5px;
    }
  }

  .info-course__icon {
    margin-left: 255px;
  }

  .info-course__icon-span {
    text-transform: uppercase;
    color: map-get($colors, "block");
  }

  .info-course__link--two {
    margin-left: 10px;
  }
}
