@import "../utils/veriables";

.profession__date,
.professionMenu__date {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: map-get($colors, "date");
  margin-top: 5px;
  margin-bottom: 40px;
}

.profession__text,
.professionMenu__text {
  @extend .profession__date;
  font-family: map-get($fonts, "primary");
  font-weight: 500;
  font-size: 16px;
  color: map-get($colors, "primary");
  margin-left: 78px;
  margin-top: 8px;
  text-transform: capitalize;
}

.profession__text--two,
.profession__text--three {
  text-align: center;
  margin-left: 50px;
  margin-top: -15px;
}

.profession__icon {
  margin-top: 18px;
  margin-left: -324px;
}

.profession__icon--two {
  margin-left: -404px;
}

.profession__icon-text,
.professionMenu__icon-text {
  @extend .profession__text;
  font-weight: 700;
  font-size: 14px;
  color: map-get($colors, "block");
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 5px;
}

.profession__link,
.professionMenu__link {
  @extend .profession__text;
  font-weight: 700;
  font-size: 14px;
  color: map-get($colors, "block");
  text-decoration: none;
  margin-top: 22px;
  margin-left: 65px;
  margin-bottom: 50px;

  &:hover {
    color: map-get($colors, "hover");
    fill: map-get($colors, "hover");
  }

  .profession__link-icon,
  .professionMenu__link-icon {
    margin-right: 5px;
  }
}

.profession__link--two {
  margin-left: 40px;
}

.profession__icon--three {
  margin-left: -300px;
}

.profession__icon--four {
  margin-left: -302px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .professionMenu__text {
    margin: 10px 0 20px -8px;
  }

  .professionMenu__link {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .profession__date {
    margin-left: -5px;
  }

  .profession__date--one {
    margin-top: -20px;
  }

  .profession__text--one {
    margin-left: 28px;
    margin-top: 8px;
    width: 250px;
    text-align: center;
  }
  .profession__text--two {
    width: 300px;
    margin-left: 10px;
  }

  .profession__text--three{
    width: 295px;
    margin-left: -15px;
    margin-top: -33px;
  }

  .profession__icon--one {
    margin-top: 35px;
    margin-right: 10px;
    margin-left: -265px;
  }

  .profession__icon--three{
    margin-top: 25px;
    margin-left: -270px;
  }

  .profession__icon-text {
    margin-top: 42px;
  }

  .profession__icon-text--two{
    margin-top: 30px;
    margin-left: 5px;
  }

  .profession__link-icon {
    margin-top: 18px;
    margin-left: 55px;
  }

  .profession__link-icon--two{
    margin-top: 5px;
    margin-left: 60px;
  }
}