body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 320px;
    height: 800px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media print {
  .container {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
}
.hero-tel__link:hover,
.hero-mail__link:hover,
.hero-portfolio:hover,
.hero-gh:hover,
.edu__link:hover,
.profession__link:hover,
.info-course__link:hover,
.menu__text:hover,
.menu__link-two:hover,
.menu__link:hover {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: flex;
  flex-direction: column;
}
.nav .nav__img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  margin: 35px auto;
  -webkit-animation-name: img;
          animation-name: img;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.nav .nav__img:hover {
  -webkit-animation: swing 1s;
          animation: swing 1s;
}
@-webkit-keyframes img {
  0% {
    transform: translateX(-300px);
  }
  50% {
    border-radius: 50%;
    scale: 0.1;
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes img {
  0% {
    transform: translateX(-300px);
  }
  50% {
    border-radius: 50%;
    scale: 0.1;
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}
.nav .nav__title {
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #f7f7f7;
  margin-right: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}

.nav__link {
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  padding: 20px 20px;
  background-color: #fc6600;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 50px;
}
.nav__link:hover {
  box-shadow: 10px 10px 20px #00ff00;
  -webkit-animation: heartBeat 1s;
          animation: heartBeat 1s;
}

@media print {
  .nav__link {
    display: none;
  }

  .nav {
    margin-left: -970px;
  }
  .nav .nav__title {
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__title {
    text-align: center;
    font-size: 26px;
  }

  .nav__link {
    margin: 0 auto;
  }

  .nav__title--info {
    height: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__title {
    text-align: right;
  }

  .nav__title--info {
    height: 660px;
  }

  .nav__link {
    margin: -80px auto 20px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__title {
    text-align: right;
  }

  .nav__title--info {
    height: 660px;
  }

  .nav__link {
    position: absolute;
    bottom: -720px;
    left: 20px;
  }
}
.hero-address, .hero-tel, .hero-mail, .hero-address__span, .hero-tel__link, .hero-mail__link {
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #303030;
  margin-top: 20px;
  margin-left: 20px;
}

.hero-address__span, .hero-tel__link, .hero-mail__link {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}

.hero-address__icon {
  margin-left: 210px;
}

.hero-tel, .hero-mail {
  margin-top: 5px;
}

.hero-tel__icon {
  margin-left: 195px;
  margin-right: 10px;
}

.hero-tel__link, .hero-mail__link {
  font-style: normal;
  text-decoration: none;
}
.hero-tel__link:hover, .hero-mail__link:hover {
  font-weight: 700;
  font-size: 18px;
  color: #fc6600;
  fill: #fc6600;
}

.hero-mail {
  margin-top: -10px;
}

.hero-mail__icon {
  margin-left: 195px;
  margin-right: 10px;
}

.hero-mail__link {
  font-style: normal;
  text-decoration: none;
}
.hero-mail__link:hover {
  font-weight: 700;
  font-size: 18px;
  color: #fc6600;
  fill: #fc6600;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .heroMenu-address, .heroMenu-tel, .heroMenu-mail, .heroMenu-tel .heroMenu-address__span, .heroMenu-mail .heroMenu-address__span, .heroMenu-tel .heroMenu-tel__link, .heroMenu-mail .heroMenu-tel__link, .heroMenu-mail .heroMenu-mail__link, .heroMenu-address .heroMenu-address__span {
    font-family: "roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #303030;
    margin-top: 20px;
    margin-left: 10px;
  }
  .heroMenu-address .heroMenu-address__span, .heroMenu-tel .heroMenu-address__span, .heroMenu-mail .heroMenu-address__span, .heroMenu-tel .heroMenu-tel__link, .heroMenu-mail .heroMenu-tel__link, .heroMenu-mail .heroMenu-mail__link {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
  }
  .heroMenu-address .heroMenu-address__icon, .heroMenu-tel .heroMenu-address__icon, .heroMenu-mail .heroMenu-address__icon {
    margin-left: 5px;
  }

  .heroMenu-tel, .heroMenu-mail {
    margin-top: 20px;
  }
  .heroMenu-tel .heroMenu-tel__icon, .heroMenu-mail .heroMenu-tel__icon {
    margin-right: 10px;
  }
  .heroMenu-tel .heroMenu-tel__link, .heroMenu-mail .heroMenu-tel__link, .heroMenu-mail .heroMenu-mail__link {
    font-style: normal;
    text-decoration: none;
  }
  .heroMenu-tel .heroMenu-tel__link:hover, .heroMenu-mail .heroMenu-tel__link:hover, .heroMenu-mail .heroMenu-mail__link:hover {
    font-weight: 700;
    font-size: 18px;
    color: #fc6600;
    fill: #fc6600;
  }

  .heroMenu-mail {
    margin-top: 10px;
  }
  .heroMenu-mail .heroMenu-mail__icon {
    margin-right: 10px;
  }
  .heroMenu-mail .heroMenu-mail__link {
    font-style: normal;
    text-decoration: none;
  }
  .heroMenu-mail .heroMenu-mail__link:hover {
    font-weight: 700;
    font-size: 18px;
    color: #fc6600;
    fill: #fc6600;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-address__icon {
    margin-left: 150px;
  }

  .hero-tel__icon,
.hero-mail__icon {
    margin-left: 135px;
  }
}
.edu__date,
.eduMenu__date {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #234e00;
  margin-left: 20px;
  margin-top: 35px;
}

.edu__dateTwo,
.eduMenu__dateTwo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #234e00;
  margin-left: -134px;
  margin-top: 115px;
}

.edu__text, .edu__linkTwo,
.eduMenu__linkTwo, .edu__link,
.eduMenu__link, .edu__icon-text,
.eduMenu__icon-text,
.eduMenu__text {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: center;
  margin-top: 25px;
  margin-left: 110px;
}

.edu__textTwo,
.eduMenu__textTwo {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: center;
  margin-top: 95px;
  margin-left: -175px;
}

.edu__icon {
  margin-top: 135px;
  margin-left: -275px;
}

.edu__icon-text,
.eduMenu__icon-text {
  font-weight: 700;
  color: #696969;
  text-transform: uppercase;
  margin-top: 143px;
  margin-left: 5px;
}

.edu__link,
.eduMenu__link {
  font-weight: 700;
  color: #696969;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 90px;
}
.edu__link:hover,
.eduMenu__link:hover {
  color: #fc6600;
  fill: #fc6600;
}
.edu__link .edu__link-icon,
.edu__link .eduMenu__link-icon,
.eduMenu__link .edu__link-icon,
.eduMenu__link .eduMenu__link-icon {
  margin-right: 5px;
}

.edu__linkTwo,
.eduMenu__linkTwo {
  font-weight: 700;
  color: #696969;
  text-decoration: none;
  margin-top: 140px;
  margin-left: -170px;
}
.edu__linkTwo:hover,
.eduMenu__linkTwo:hover {
  color: #fc6600;
  fill: #fc6600;
}
.edu__linkTwo .edu__link-iconTwo,
.edu__linkTwo .eduMenu__link-iconTwo,
.eduMenu__linkTwo .edu__link-iconTwo,
.eduMenu__linkTwo .eduMenu__link-iconTwo {
  margin-right: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .eduMenu__date {
    font-size: 24px;
    margin: 0;
  }

  .eduMenu__dateTwo {
    font-size: 24px;
    margin-left: 0;
  }

  .eduMenu__text {
    font-size: 15px;
    margin-top: 15px;
    margin-left: 2px;
  }

  .eduMenu__textTwo {
    margin-top: 15px;
    margin-left: -10px;
  }

  .eduMenu__linkTwo {
    margin-left: 20px;
  }

  .eduParagraph {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .edu__date {
    margin-right: -100px;
  }

  .edu__dateTwo {
    margin-left: -40px;
    margin-right: -90px;
  }
}
.profession__date, .profession__text, .profession__link,
.professionMenu__link, .profession__icon-text,
.professionMenu__icon-text,
.professionMenu__text,
.professionMenu__date {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #234e00;
  margin-top: 5px;
  margin-bottom: 40px;
}

.profession__text, .profession__link,
.professionMenu__link, .profession__icon-text,
.professionMenu__icon-text,
.professionMenu__text {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  color: #303030;
  margin-left: 78px;
  margin-top: 8px;
  text-transform: capitalize;
}

.profession__text--two,
.profession__text--three {
  text-align: center;
  margin-left: 50px;
  margin-top: -15px;
}

.profession__icon {
  margin-top: 18px;
  margin-left: -324px;
}

.profession__icon--two {
  margin-left: -404px;
}

.profession__icon-text,
.professionMenu__icon-text {
  font-weight: 700;
  font-size: 14px;
  color: #22235c;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 5px;
}

.profession__link,
.professionMenu__link {
  font-weight: 700;
  font-size: 14px;
  color: #22235c;
  text-decoration: none;
  margin-top: 22px;
  margin-left: 65px;
  margin-bottom: 50px;
}
.profession__link:hover,
.professionMenu__link:hover {
  color: #fc6600;
  fill: #fc6600;
}
.profession__link .profession__link-icon,
.profession__link .professionMenu__link-icon,
.professionMenu__link .profession__link-icon,
.professionMenu__link .professionMenu__link-icon {
  margin-right: 5px;
}

.profession__link--two {
  margin-left: 40px;
}

.profession__icon--three {
  margin-left: -300px;
}

.profession__icon--four {
  margin-left: -302px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .professionMenu__text {
    margin: 10px 0 20px -8px;
  }

  .professionMenu__link {
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .profession__date, .profession__text,
.professionMenu__text, .profession__icon-text,
.professionMenu__icon-text, .profession__link,
.professionMenu__link {
    margin-left: -5px;
  }

  .profession__date--one {
    margin-top: -20px;
  }

  .profession__text--one {
    margin-left: 28px;
    margin-top: 8px;
    width: 250px;
    text-align: center;
  }

  .profession__text--two {
    width: 300px;
    margin-left: 10px;
  }

  .profession__text--three {
    width: 295px;
    margin-left: -15px;
    margin-top: -33px;
  }

  .profession__icon--one {
    margin-top: 35px;
    margin-right: 10px;
    margin-left: -265px;
  }

  .profession__icon--three {
    margin-top: 25px;
    margin-left: -270px;
  }

  .profession__icon-text {
    margin-top: 42px;
  }

  .profession__icon-text--two {
    margin-top: 30px;
    margin-left: 5px;
  }

  .profession__link-icon {
    margin-top: 18px;
    margin-left: 55px;
  }

  .profession__link-icon--two {
    margin-top: 5px;
    margin-left: 60px;
  }
}
.info__list, .info-course__list, .info-course__link,
.infoMenu__list,
.infoMenuTwo__list,
.infoMenuThree__list,
.infoMenuFour__list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #22235c;
}

.info-course__list, .info-course__link {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

.info-course__date,
.infoMenu-course__date {
  font-family: none;
  font-weight: 600;
  font-size: 20px;
  color: #234e00;
}

.info-course__span {
  margin-left: 255px;
  margin-top: -30px;
  margin-bottom: 8px;
}

.info-course__link {
  color: #22235c;
  text-decoration: none;
  margin-left: 340px;
}
.info-course__link:hover {
  color: #fc6600;
  fill: #fc6600;
}
.info-course__link .info-course__link-icon {
  margin-right: 5px;
}

.info-course__icon {
  margin-left: 255px;
}

.info-course__icon-span {
  text-transform: uppercase;
  color: #22235c;
}

.info-course__link--two {
  margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .infoMenu__list {
    margin-top: -20px;
    margin-left: -280px;
  }

  .infoMenuThree__list {
    margin-top: -20px;
  }

  .infoMenu-course__span {
    margin-left: 15px;
  }

  .infoMenu-course__icon {
    margin-left: 30px;
  }

  .infoMenu-course__link {
    color: #22235c;
    text-decoration: none;
    margin-left: 10px;
  }
  .infoMenu-course__link:hover {
    color: #fc6600;
    fill: #fc6600;
  }
  .infoMenu-course__link .infoMenu-course__link-icon {
    margin-right: 5px;
  }
}
.info-other__list, .info-skills__list,
.info-hobby__list,
.infoMenu-other__list,
.infoMenu-skills__list,
.infoMenu-hobby__list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #696969;
  margin-top: 15px;
}

.info-skills__list,
.info-hobby__list {
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .infoMenu-skills__list,
.infoMenu-hobby__list {
    margin-top: 15px;
    margin-left: -5px;
  }
}
.footer {
  font-family: "roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #22235c;
  margin-top: 40px;
  margin-left: 10px;
  width: 865px;
}

.footer-text {
  font-family: "roboto";
  font-size: 12px;
  color: #303030;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer,
.footer-text {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 750px;
  }
}
.goBack {
  font-family: "roboto";
  font-weight: 900;
  color: #22235c;
  text-decoration: none;
  display: flex;
  margin: 20px 1120px 30px -70px;
}
.goBack:hover {
  color: #fc6600;
}

.link, .linkOne,
.linkTwo,
.linkThree,
.linkFour {
  font-family: "roboto";
  font-weight: 900;
  font-size: 16px;
  color: #627bec;
  text-decoration: none;
  display: flex;
  margin: 20px 1050px 30px -50px;
}
.link:visited, .linkOne:visited,
.linkTwo:visited,
.linkThree:visited,
.linkFour:visited {
  color: #234e00;
}
.link:hover, .linkOne:hover,
.linkTwo:hover,
.linkThree:hover,
.linkFour:hover {
  color: #fc6600;
  box-shadow: 5px 5px 15px #22235c;
  border: 1px solid #234e00;
  border-radius: 15px;
  width: 90px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.linkOne:hover,
.linkTwo:hover,
.linkThree:hover,
.linkFour:hover {
  width: 195px;
}

.linkTwo:hover {
  width: 210px;
}

.linkThree:hover {
  width: 230px;
}

.linkFour:hover {
  width: 240px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .link, .linkOne,
.linkTwo,
.linkThree,
.linkFour {
    margin: 20px 100px 20px 30px;
  }

  .goBack {
    margin: 10px 100px 20px 15px;
  }
}
.menu__text, .menu__link-two, .menu__link,
.menuMin__text {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #22235c;
  margin-left: 150px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__text:hover, .menu__link-two:hover, .menu__link:hover,
.menuMin__text:hover {
  color: #fc6600;
}

.menu__link {
  font-size: 16px;
  margin-left: 350px;
}

.menu__link-two {
  font-size: 16px;
  text-transform: none;
  margin-left: 50px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__text, .menu__link, .menu__link-two {
    display: none;
  }

  .menuMin__text {
    margin-left: 25px;
    font-size: 30px;
  }

  .menu__link {
    margin-top: -30px;
    margin-left: 40px;
    display: block;
  }

  .menu__link-two {
    text-transform: none;
    margin-left: -117px;
    margin-top: 25px;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menuMin__text {
    display: none;
  }

  .menu__text, .menu__link, .menu__link-two {
    margin-left: 10px;
  }

  .menu__link {
    margin-left: 190px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menuMin__text {
    display: none;
  }
}
.img {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-bottom: 35px;
  margin-top: 10px;
}
.img img {
  margin-right: 20px;
  margin-top: 30px;
}

.img__text {
  font-family: "roboto";
  font-weight: 900;
  font-style: italic;
  font-size: 16px;
  color: #22235c;
  margin-left: 48px;
  display: flex;
}

.img__icon {
  margin-left: 10px;
}

.link__pages {
  font-family: "roboto";
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  margin-left: 95px;
  margin-top: -4px;
  color: #234e00;
  -webkit-animation: link 5s linear;
          animation: link 5s linear;
}

@-webkit-keyframes link {
  0% {
    transform: scale(0.1);
  }
  30% {
    transform: scale(3);
  }
  70% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes link {
  0% {
    transform: scale(0.1);
  }
  30% {
    transform: scale(3);
  }
  70% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .img {
    margin: 10px 0 35px 0;
  }
  .img img {
    margin: 0 0 15px 0;
    width: 100%;
  }

  .img__text {
    margin: -680px 0 20px 15px;
  }

  .link__pages {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .img {
    margin: 0;
  }
  .img img {
    margin: 0 0 20px 10px;
  }
}
.menu {
  height: 80px;
  border-bottom: 1px solid #303030;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu__icon {
  margin-left: 50px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__icon {
    display: none;
  }
}
.background-nav {
  background-color: #22235c;
  width: 230px;
  float: left;
}

.nav__line, .nav__line--info, .nav__line--profession {
  height: 2px;
  width: 100%;
  background-color: #696969;
}

.nav__line--profession {
  margin-top: 129px;
}

.nav__line--info {
  margin-top: 161px;
}

.title {
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #fc6600;
  position: fixed;
  top: 10px;
  right: 15px;
}

.nav__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.is-hidden-nav,
.is-hidden-navEdu,
.is-hidden-navEmployment,
.is-hidden-navInfo,
.is-hidden-navInfoTwo {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.1);
}

.okno {
  background-color: #f7f7f7;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 30px;
  width: 320px;
}

.is-hidden-nav .okno,
.is-hidden-navEdu .okno,
.is-hidden-navEmployment .okno,
.is-hidden-navInfo .okno,
.is-hidden-navInfoTwo .okno {
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.okno__button-close {
  width: 30px;
  height: 30px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
}
.okno__button-close:focus, .okno__button-close:hover {
  cursor: pointer;
  fill: #fc6600;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .background-nav {
    background-color: #22235c;
    width: 100%;
    height: 800px;
  }
  .background-nav .nav__line--profession,
.background-nav .nav__line--info {
    margin-top: 50px;
  }

  .nav__button,
.navEdu__button,
.navEmployment__button,
.navInfo__button,
.navInfoTwo__button {
    display: flex;
    margin: -20px 0 20px 260px;
    width: 45px;
    background-color: transparent;
    fill: #ffffff;
    border: 1px solid #ffffff;
  }
  .nav__button:hover,
.navEdu__button:hover,
.navEmployment__button:hover,
.navInfo__button:hover,
.navInfoTwo__button:hover {
    fill: #00ff00;
    border: 2px solid #00ff00;
  }

  .navEdu__button,
.navEmployment__button {
    margin-top: -40px;
  }

  .navInfo__button {
    margin-top: -40px;
    margin-left: 210px;
  }

  .navInfoTwo__button {
    margin-top: -44px;
  }

  .title {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__button,
.navEdu__button,
.navEmployment__button,
.navInfo__button,
.navInfoTwo__button {
    display: none;
  }

  .title {
    display: none;
  }

  .nav__line--info {
    margin-top: 195px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__button,
.navEdu__button,
.navEmployment__button,
.navInfo__button,
.navInfoTwo__button {
    display: none;
  }
}
.background-hero {
  background-color: #ffffff99;
}
.background-hero .hero__heading, .background-hero .hero__date {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #303030;
  margin-left: 20px;
}
.background-hero .hero__date {
  font-style: italic;
  font-size: 15px;
  color: #696969;
  margin-top: -20px;
  margin-left: 25px;
}
.background-hero .hero-link {
  display: flex;
  flex-direction: row;
}

.hero-portfolio, .hero-gh {
  font-family: "roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #696969;
  margin-top: 30px;
  display: flex;
}
.hero-portfolio:hover, .hero-gh:hover {
  color: #fc6600;
}
.hero-portfolio .hero-portfolio__icon, .hero-gh .hero-portfolio__icon {
  margin-left: 25px;
  margin-right: 10px;
  margin-top: -5px;
}

.hero-gh {
  margin-left: 175px;
}

.hero-gh__icon {
  margin-right: 10px;
  margin-top: -4px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero,
.background-hero {
    display: none;
  }

  .heroMenu-link {
    display: flex;
    flex-direction: row;
  }

  .heroMenu__heading, .heroMenu__date {
    font-family: "Montserrat";
    font-style: bold;
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #303030;
    margin: -10px 0 0 10px;
  }

  .heroMenu__date {
    font-style: italic;
    font-size: 15px;
    color: #696969;
    margin: 0 0 15px 25px;
  }

  .heroMenu-portfolio, .heroMenu-gh {
    font-family: "roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #696969;
    margin-top: 20px;
    display: flex;
  }
  .heroMenu-portfolio:hover, .heroMenu-gh:hover {
    color: #fc6600;
  }
  .heroMenu-portfolio .heroMenu-portfolio__icon, .heroMenu-gh .heroMenu-portfolio__icon {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: -5px;
  }

  .heroMenu-gh {
    margin-left: 70px;
  }
  .heroMenu-gh .heroMenu-gh__icon {
    margin-right: 10px;
    margin-top: -4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-gh {
    margin-left: 115px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
.background-edu {
  background-color: #f7f7f7;
  height: 180px;
  margin-top: 28px;
}

.edu {
  display: flex;
}

.edu__line {
  height: 2px;
  width: 100%;
  background-color: #696969;
  margin-top: -1px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .edu,
.edu__line,
.background-edu {
    display: none;
  }
}
.backgronud-profession {
  background-color: #f7f7f7;
  height: 230px;
  display: flex;
}
.backgronud-profession .profession {
  list-style: none;
  margin-left: -20px;
}
.backgronud-profession .profession__list,
.backgronud-profession .professionMenu__list {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profession,
.backgronud-profession {
    display: none;
  }

  .professionMenu {
    list-style: none;
    margin: -12px 0 0 -20px;
  }

  .professionMenu__list {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backgronud-profession {
    height: 260px;
  }
}
.background-info {
  background-color: #ffffff99;
}
.background-info .info {
  display: flex;
  list-style: square;
}
.background-info .info-course,
.background-info .info-lang,
.background-info .info-other,
.background-info .info-skills,
.background-info .info-hobby {
  display: flex;
  flex-direction: column;
  list-style: disc;
  margin-top: 15px;
  margin-left: -20px;
}
.background-info .info__list--skills,
.background-info .info__list--hobby {
  margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .info__list, .info-course__list, .info-course__link,
.info {
    display: none;
  }

  .infoMenu-course,
.infoMenu-other,
.infoMenu-skills,
.infoMenu-hobby {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-top: 15px;
    margin-left: -20px;
  }

  .infoMenu-other,
.infoMenu-skills,
.infoMenu-hobby {
    margin-top: 5px;
  }

  .infoMenu,
.infoMenuTwo,
.infoMenuThree,
.infoMenuFour {
    display: flex;
    list-style: square;
  }
}/*# sourceMappingURL=main.css.map */