@import "../utils/veriables";

.background-edu {
  background-color: map-get($colors, "block_2");
  height: 180px;
  margin-top: 28px;
}

.edu {
  display: flex;
}

.edu__line {
  height: 2px;
  width: 100%;
  background-color: map-get($colors, "first");
  margin-top: 4px;
}
