@import "../utils/veriables";

.background-edu {
  background-color: map-get($colors, "block_2");
  height: 180px;
  margin-top: 28px;
}

.edu {
  display: flex;
}

.edu__line {
  height: 2px;
  width: 100%;
  background-color: map-get($colors, "first");
  margin-top: 4px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .edu{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
  
}
