@import "../utils/veriables";

.background-hero {
  background-color: map-get($colors, "second");

  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero__heading {
    font-family: map-get($fonts, "first");
    font-style: bold;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: map-get($colors, "primary");
    margin-left: 20px;
  }

  .hero__date {
    @extend .hero__heading;
    font-style: italic;
    font-size: 15px;
    color: map-get($colors, "first");
    margin-top: -20px;
    margin-left: 25px;
  }

  .hero-link {
    display: flex;
    flex-direction: row;
  }
}

.hero__line {
  height: 2px;
  width: 100%;
  background-color: map-get($colors, "first");
}

.hero__line-two {
  @extend .hero__line;
  margin-top: 28px;
}

.hero-portfolio {
  font-family: map-get($fonts, "primary");
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: map-get($colors, "first");
  margin-top: 30px;
  display: flex;

  &:hover {
    color: map-get($colors, "hover");
  }

  .hero-portfolio__icon {
    margin-left: 25px;
    margin-right: 10px;
    margin-top: -5px;
  }
}

.hero-fb {
  @extend .hero-portfolio;
  margin-left: 175px;

  .hero-fb__icon {
    margin-right: 10px;
    margin-top: -4px;
  }
}
