@import "../utils/veriables";

.background-info {
  background-color: map-get($colors, "second");

  .info {
    display: flex;
    list-style: square;
  }

  .info-course,
  .info-lang,
  .info-other,
  .info-skills,
  .info-hobby {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-top: 15px;
    margin-left: -20px;
  }

  .info__list--skills,
  .info__list--hobby{
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .info__list,
  .info {
    display: none;
  }

  .infoMenu-course,
  .infoMenu-other,
  .infoMenu-skills,
  .infoMenu-hobby {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-top: 15px;
    margin-left: -20px;
  }

  .infoMenu-other,
  .infoMenu-skills,
  .infoMenu-hobby{
    margin-top: 5px;
  }

  .infoMenu,
  .infoMenuTwo,
  .infoMenuThree,
  .infoMenuFour {
    display: flex;
    list-style: square;
  }
}
