@import "../utils/veriables";

.backgronud-profession {
  background-color: map-get($colors, "block_2");
  height: 230px;
  display: flex;

  .profession {
    list-style: none;
    margin-left: -20px;
  }

  .profession__list {
    display: flex;
  }
}