@import "../utils/veriables";

.backgronud-profession {
  background-color: map-get($colors, "block_2");
  height: 230px;
  display: flex;

  .profession {
    list-style: none;
    margin-left: -20px;
  }

  .profession__list,
  .professionMenu__list {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profession,
  .backgronud-profession {
    display: none;
  }

  .professionMenu {
    list-style: none;
    margin: -12px 0 0 -20px;
  }

  .professionMenu__list {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backgronud-profession {
    height: 260px;
  }
}
