@import "../utils/veriables";

.backgronud-profession {
  background-color: map-get($colors, "block_2");
  height: 380px;
  display: flex;

  .profession {
    list-style: none;
    margin-left: -20px;
  }

  .profession__list {
    display: flex;
  }
}

.profession__line {
  height: 2px;
  width: 100%;
  background-color: map-get($colors, "first");
}
